.dashboard__container {
	padding: 0 16px 16px;
}

.dashboard__header {
	display: flex;
	align-items: flex-end;
	height: 100px;
}

.dashboard__section {
	display: flex;
	flex-direction: column;
	margin-top: 32px;
}
.dashboard__section > b {
	font-size: 20px;
	margin-bottom: 16px;
}
.dashboard__new-user {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;

	width: 100%;
	max-width: 500px;
}
.dashboard__new-user div {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dashboard__new-user p {
	text-align: right;
	width: min-content;
}
.dashboard__new-user i {
	font-size: 36px;
}
.dashboard__new-user button {
	width: 50%;

	padding: 8px;
	margin-top: 16px;

	border: none;
	border-radius: 24px;

	font-weight: bold;
	color: #fff;
	background-color: #15883e;
}
.dashboard__new-user button:hover {
	cursor: pointer;
	background-color: #21e065;
}
.dashboard__grid {
	display: grid;
	justify-items: center;
	gap: 16px;
}
