.album {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}
.album-details {
	display: flex;
	align-items: flex-end;
	position: relative;

	height: 300px;
	padding: 16px 24px;
	color: #fff;
}
.album-image {
	height: 200px;
	width: 200px;
	bottom: 0;
}

.album-text {
	margin-left: 16px;
}

.album-text > p {
	font-size: 12px;
	font-weight: bold;
}
.album-text h1 {
	font-size: 7vw;
	letter-spacing: -5px;
}

.album-stats {
	font-size: 12px;
	display: flex;
	align-items: center;
}
.album-stats > :not(:first-child)::before {
	margin: 0 2px;
	align-items: center;
	content: '•';
	font-weight: bold;
}
.album-artist {
	display: flex;
	align-items: center;
}
.album-artist-image {
	height: 24px;
	width: 24px;
	border-radius: 50%;
}

.album-artist-name {
	color: #fff;
	text-decoration: none;
	margin-left: 2px;
	font-weight: bold;
}
.album-artist-name:hover {
	text-decoration: underline;
}

.album-tracks {
	padding: 16px;
	background-color: #00000030;
	height: 100%;
}
.album-tracks > :not(:first-child) {
	margin-top: 16px;
}

.buttons {
	display: flex;
	align-items: center;
}
.buttons :not(:first-child) {
	margin-left: 24px;
}
.play-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #1db954;
	height: 50px;
	width: 50px;
}
.play-button:hover {
	transform: scale(1.05);
}

.play-button i {
	color: #fff;
	transform: translateX(1.5px);
}
