.login__container {
	color: #fff;
}
.login__form {
	display: flex;
	flex-direction: column;
	width: 350px;
}
.login__form label {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 8px;
}
.login__form button {
	margin-top: 8px;
}
