@keyframes dscliRad {
	0% {
	}
	100% {
		border-radius: 0;
	}
}

.search-page > :not(:first-child) {
	margin-top: 8px;
}
.search-page {
	padding: calc(var(--navbar-height) + var(--padding-page)) var(--padding-page) calc(var(--widget-height) + var(--padding-page));
	width: 100%;
}
.search-input {
	--search-height: 40px;
	--search-radius: 24px;

	display: flex;
	height: var(--search-height);
	width: 35%;
	min-width: 350px;
	position: -webkit-sticky;
	position: sticky;
	margin-left: var(--padding-page);
	top: calc(var(--navbar-height) + var(--padding-page));
	transition: 0.15s linear all;

	z-index: 1;
}

.search-input__text,
.search-input__type {
	padding-left: 16px;
	border: none;
	font-size: calc(var(--search-height) * 0.5);
}

.search-input__type {
	border-radius: var(--search-radius) 0 0 var(--search-radius);
	width: 9em;
}

.search-input__text {
	border: none;
	outline: none;
	border-radius: 0 var(--search-radius) var(--search-radius) 0;
	width: 100%;

	line-height: var(--search-height);
}
.search-list {
	display: grid;
	justify-items: center;
	align-items: center;
	gap: 16px;
	grid-template-columns: repeat(var(--columns), 1fr);

	width: 100%;
}

@media screen and (min-width: 550px) {
	.search-scrolled {
		max-width: none;
		top: var(--navbar-height);
		width: 100%;
		margin: 0;
	}
	.search-scrolled :is(select, input) {
		border-radius: 0;
	}
}

@media screen {
	.search-list {
		--columns: 7;
	}
}
@media screen and (max-width: 1050px) {
	.search-list {
		--columns: 6;
	}
}
@media screen and (max-width: 950px) {
	.search-list {
		--columns: 5;
	}
}
@media screen and (max-width: 850px) {
	.search-list {
		--columns: 4;
	}
}
@media screen and (max-width: 750px) {
	.search-list {
		--columns: 3;
	}
}
@media screen and (max-width: 650px) {
	.search-list {
		--columns: 2;
	}
}
@media screen and (max-width: 550px) {
	.search-page {
		padding: var(--navbar-height) 0 var(--widget-height);
	}
	.result-container {
		padding: 0 var(--padding-page);
	}
	.result-container h1 {
		margin: 16px 0;
	}
	.search-list {
		--columns: 1;
	}
	.search-input :is(select, input) {
		border-radius: 0;
	}
	.search-input {
		max-width: none;
		margin: 0;
		width: 100%;
		top: var(--navbar-height);
	}
}
