.track-result__row {
	--row-height: 75px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: var(--row-height);
	border-radius: 4px;
	padding: 8px;
}
.track-result__row:hover {
	background-color: #4f4f4f;
}
.heart-track,
.track-options,
.track-result__row-overlay {
	opacity: 0;
}
.track-result__row:hover :is(.heart-track, .track-options, .track-result__row-overlay) {
	opacity: 1;
}

.track-result__row:hover .track-result__row-overlay {
	background: #000000aa;
}
.album-tracks .track-result__row:hover .track-result__row-overlay {
	background: none;
}

.track-result__row-info {
	display: flex;
	align-items: center;
}

.track-result__image-container {
	position: relative;
	height: calc(var(--row-height) * 0.7);
	width: calc(var(--row-height) * 0.7);
}

.track-result__image-container:hover {
	cursor: pointer;
}

.track-result__row-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 100%;
	width: 100%;
}
.track-result__row-image {
	height: 100%;
	width: 100%;
}
.track-result__number {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.track-result__row:hover .track-result__number {
	opacity: 0;
}
.track-result__row-text {
	margin-left: 16px;
}
.track-result__row-artist {
	display: flex;
	margin-top: 4px;
	color: var(--color-text-sub);
}
.track-result__row-explicit {
	margin-right: 8px;
	padding: 4px;
	height: 16px;
	width: 16px;
	border-radius: 2px;
	background-color: var(--color-text-sub);
	color: var(--color-background);
	font-size: 10px;
	text-align: center;
	line-height: 10px;
}
.track-result__row-artist-list {
	display: flex;
}
.track-result__row-artist-link:hover {
	cursor: pointer;
	text-decoration: underline;
}
.track-result__row-artist-list > :not(:last-child)::after {
	margin-right: 4px;
	content: ',';
}
.track-result__row-buttons {
	display: flex;
	align-items: center;
}

.is-liked {
	opacity: 1;
}

.track-result__row-duration {
	text-align: center;
	width: 30px;
	margin: 0 16px;
}
