.tracks {
	padding: 16px;
	background-color: #00000030;
}

.buttons {
	display: flex;
	align-items: center;
}
.buttons :not(:first-child) {
	margin-left: 24px;
}
.play-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #1db954;
	height: 50px;
	width: 50px;
}
.play-button:hover {
	transform: scale(1.05);
}
.heart-button,
.dropdown-button {
	font-size: 24px;
	color: #8f8f8f;
}
:is(.heart-button, .dropdown-button):hover {
	color: #bfbfbf;
}
.play-button i {
	color: #fff;
	transform: translateX(1.5px);
}
